dotenv

export TF_VAR_HCP_ORG_ID=$(hcp profile display --format=json | jq -r .OrganizationID)
export TF_VAR_HCP_PROJECT_ID=$(hcp profile display --format=json | jq -r .ProjectID)
export TF_VAR_APP_NAME=$(hcp profile display --format=json | jq -r .VaultSecrets.AppName)
